<h3>BuildServNX</h3>

This folder contains automated builds of <a href="https://github.com/switchbrew/nx-hbloader">nx-hbloader by Switchbrew</a>.<br>
If a commit's build isn't here, then it's either still compiling, the build failed or syncthing didn't sync the file yet. You can check Jenkins <a href="https://jenkins.lavatech.top/job/nx-hbloader">here</a>.<br>
<br>
The installable ("legal") nsps (not to be confused with .nsp inside builds not marked with "-nsp", those are not installable) are generated with hacBrewTool. You will need sigpatches to install and run them and can be cdn banned for doing so.<br>
<b>The installable NSP builds of project are archived and no new builds will be done for them. Regular builds will be still be done.</b><br>
<br>
You can join LavaTech discord <a href="https://discord.gg/Kf4qvUC">here</a>.<br>
<br>
<b>The file at the top is the latest build!</b>
