<h3>BuildServNX</h3>

This folder contains automated builds of <a href="https://gitlab.com/2168/zerotwoxci">ZeroTwoXCI by Elise from Team 2168</a>, an XCI installer based on Tinfoil.<br>
If a commit's build isn't here, then it's either still compiling, the build failed or syncthing didn't sync the file yet. You can check Jenkins <a href="https://jenkins.lavatech.top/job/zerotwoxci">here</a>.<br>
<br>
Elise doesn't accept donations and asks them to be sent to Adubbz instead:<br>
You can donate to Adubbz and Tinfoil <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=TBB9Q9YL9AB74&lc=AU&item_name=Adubbz%27s%20Tools%20%26%20Game%20Mods&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted">here</a>.<br>
You can join LavaTech discord <a href="https://discord.gg/Kf4qvUC">here</a>.<br>
<br>
<b>The file at the top is the latest build!</b>
